body {
  overflow-y: scroll;
  background-color: #f4f97557;
}

.page {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}

.page-heading {
  font-weight: 500;
}

.page-input {
  border: none;
  background-color: #e1e1e1;
  width: 98%;
  max-width: 450px;
  height: 34px;
  border-radius: 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  padding: 2px 7px;
  outline: none;
}

.page-input-box {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-spinner {
  border: 2px solid transparent;
  border-top: 3px solid #3b3b3b;
  border-right: 3px solid #565656;
  border-radius: 50%;
  width: 27px;
  height: 27px;
  margin: 0 0 0 7px;
  visibility: hidden;
  opacity: 0;
}

.page-spinner_active {
  visibility: visible;
  opacity: 2;
  animation: spin 0.8s linear infinite;
}

.page-address-box {
  padding: 0;
  margin: 20px 0 0 0;
  list-style: none;
  width: 98%;
  max-width: 450px;
  margin-right: 38px;
}


.page-address {
  display: flex;
  flex-direction: column;
  padding: 7px 10px;
  transition: all 0.3s;
  border-radius: 10px;
}

.page-address:hover {
  cursor: pointer;
  background-color: rgba(198, 191, 66, 0.341);
}

.page-address-value {
  font-size: 1.8em;
}

.page-address-city {
  color: #4b4a4a;
  margin-top: 5px;
  font-size: 15px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}